$R500: #990505;
$R400: #b00606;
$R300: #fb0808;
$R200: #fc3232;
$R100: #fd7070;
$R75: #fd9a9a;
$R50: #ffe6e6;

$B500: #3c3b3b;
$B400: #454444;
$B300: #626161;
$B200: #7d7c7c;
$B100: #a4a3a3;
$B75: #bfbebe;
$B50: #efefef;

$W500: #9c9c9c;
$W400: #b3b3b3;
$W300: #ffffff;
$bg100: #3D3D3D;
$bg: #242222;
$green: #16ec6b;
$black: #000000;